<div>
  <div class="text-right">
    <%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-primary text-right' %>
  </div>
  <% if @todo_lists.empty? %>
    <span class="text-warning">There are no todo_lists!</span>
  <% else %>
    <div>

    </div>
    <%= form_tag(todo_lists_path, method: :get) do %>
      <div class="form-group col-sm-3">
        <%= select_tag :search, options_for_select([ "All", "Active", "Completed" ], selected: params[:search]), class: 'form-control' %>
      </div>
      <%= submit_tag 'Filter', class: "btn btn-default" %>
    <% end %>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Note</th>
          <th>Status</th>
          <th>Update Status</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @todo_lists.each do |todo_list| %>
          <tr>
            <td>
              <strong>
                <%= todo_list.title %>
              </strong>
            </td>
            <td class="text-info">
              <%= todo_list.note %>
            </td>
            <td class="text-success">
              <%= todo_list.status %>
            </td>
            <% status = (todo_list.status.eql?("active") ? "completed" : "active") %>
            <td><%= link_to status, update_status_todo_list_path(todo_list), method: :patch %></td>
            <td><%= link_to 'Show', todo_list %></td>
            <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
            <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-primary text-right'%>
